@import '../libs/variables';
@import '../libs/mixins';

.about {
  position: relative;

  &-body {
    position: relative;
    z-index: 2;
    margin-top: 120px;
    @include flex();
    gap: 150px;
  }

  &-part { 
    &__img {
      width: 100%;
      border-radius: 320px 140px 320px 140px;
    }

    &__text {
      margin: 50px 0 36px;
    }

    &:first-child {
      width: 45%;
    }

    &:last-child {
      flex: 1;
    }
  }

  &-bg {
    position: absolute;
    bottom: 10%;
    left: -6%;
    width: 100vw;
    z-index: 1;
  }
}