@import '../libs/variables';
@import '../libs/mixins';

.nav {
  padding-top: 60px;
  @include flex();

  * {
    position: relative;
    z-index: 2;
  }

  &-part {
    &:last-child {
      @include flex(flex-end, center);
      gap: 50px;
    }
  }

  &-logo {
    &__img {
      width: 240px;
    }
  }

  &-links {
    @include flex();
    gap: 54px;

    &__item {
      a {
        position: relative;
        @include text(16px, 20px, 700, white);
        text-transform: uppercase;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0;
          height: 2px;
          background-color: white;
          transform-origin: left;
          transition: width 0.4s ease;
        }
    
        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  &-btn {
    position: relative;
    z-index: 1;

    &:first-child {
      @include btn();
    }
  }

  
  &-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: $midnight-blue;
    @include flex(center, center);
    
    &__hide {
      display: none;
    }

    &__body {
      width: calc(100vw - 10%);
      height: calc(100vh - 10%);
      margin: 5%;
      padding: 8%;
      border-radius: 40px;
      background: $midnight-prune;
      box-shadow: 2px 2px 20px 0px rgba($pastel-lilac, 0.05);

      @include flex();
      flex-direction: column;
    }

    &__part {
      width: 100%;

      &:first-child {
        @include flex();
      }

      &:nth-child(2) {
        @include flex(center, center);
        flex-direction: column;
        gap: 30px;
      }

      &:last-child {
        @include flex();
        flex-direction: column;
        gap: 30px;
      }
    }

    &__link {
      @include text(16px, 20px, 700, white);
      text-transform: uppercase;
    }

    &__btn {
      background: none;
      display: none;
      i {
        font-size: 40px;
        color: $pastel-lilac;
      }
    }
  }
}

.home {
  position: relative;
  padding-top: 120px;
  @include flex();
  
  * {
    position: relative;
    z-index: 1;
  }

  &-illustration {
    &__outter {
      @include flex(center, center);
      background-color: rgba(black, 0.13);
      padding: 15px;
      border-radius: 140px 140px 140px 320px;
    }
    &__inner {
      border-radius: 140px 140px 140px 320px;
      width: 640px;
    }
  }

  &-title {
    @include text(60px, 75px, 700, white);
    margin-bottom: 48px;

    span {
      background-image: $text-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  &-text {
    max-width: 600px;
    margin-bottom: 80px;
  }

  &-link {
    @include flex(flex-start, center);
    gap: 50px;
  }
  
  &-bg {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    height: 120vh;
  }
}

@media screen and (max-width: 1600px) {
  .nav {
    padding-top: 50px;

    &-part {
      &:last-child {
        gap: 38px;
      }
    }

    &-logo {
      &__img {
        width: 180px;
      }
    }
  
    &-links {
      gap: 42px;
  
      &__item {
        a {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }

  .home {
    padding-top: 100px;
  
    &-illustration {
      &__outter {
        border-radius: 100px 100px 100px 240px;
      }
      &__inner {
        border-radius: 100px 100px 100px 240px;
        width: 490px;
      }
    }
  
    &-title {
      font-size: 46px;
      line-height: 56px;
      margin-bottom: 36px;
    }
  
    &-text {
      max-width: 450px;
      margin-bottom: 60px;
    }
  
    &-link {
      gap: 40px;

      svg {
        width: 40px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    &-part {
      &:nth-child(2) {
        display: none;
      }
    }

    &-btn {
      display: none !important;
    }

    &-mobile {
      &__btn {
        display: block;
      }
    }
  }

  .home {
    padding-top: 80px;
  
    &-illustration {
      &__outter {
        padding: 12px;
        border-radius: 80px 80px 80px 200px;
      }
      &__inner {
        border-radius: 80px 80px 80px 200px;
        width: 380px;
      }
    }
  
    &-title {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 36px;
    }
  
    &-text {
      max-width: 360px;
      margin-bottom: 48px;
    }
  }
}

@media screen and (max-width: 960px) {
  .home {
    padding-top: 60px;
  
    &-illustration {
      &__outter {
        padding: 10px;
      }
      &__inner {
        width: 300px;
      }
    }
  
    &-title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 28px;
    }
  
    &-text {
      margin-bottom: 36px;
    }

    &-link {
      gap: 30px;

      svg {
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding-top: 60px;
    flex-direction: column-reverse;
    gap: 40px;

    &-title {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 36px;
      text-align: center;
    }

    &-text {
      display: none;
    }
  
    &-illustration {
      &__outter {
        padding: 12px;
      }
      &__inner {
        width: 440px; 
      }
    }
  

    &-link {
      justify-content: center;
      svg {
        display: none;
      }
    }

    &-bg {
      width: 100vw;
      height: auto;
    }
  }
}

@media screen and (max-width: 540px) {
  .nav {
    padding-top: 30px;
    &-logo {
      &__img {
        width: 130px;
      }
    }

    &-mobile {
      &__btn {
        font-size: 33px;
      }
    }
  }

  .home {
    padding-top: 50px;

    &-title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 28px;
    }
  
    &-illustration {
      &__outter {
        width: 100%;
      }
      &__inner {
        width: 100%; 
      }
    }
  }
}