@import 'libs/variables';
@import 'libs/mixins';
@import 'libs/reset';

@import 'sections/all';

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 6%;
  overflow-x: hidden;
  background: $midnight-blue;
}