@import 'libs/variables';
@import 'libs/mixins';
@import 'libs/reset';

@import 'sections/all';



/*
  Дообавить неактивный класс для кнопки слайд ера
*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: $midnight-blue;
}

::-webkit-scrollbar-thumb {
  background: $lavender-purple;
  border-radius: 10px;
  border: 3px solid $midnight-blue;
}

::selection {
  background-color: $lavender-purple;
  color: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 6%;
  overflow-x: hidden;
  background: $midnight-blue;
}

section {
  padding-top: 120px;
}

.btn {
  @include btn($deep-ink, $btn-gradient, $btn-gradient);
}

.paragraph {
  @include text(21px, 30px, 300, white);
}

.section {
  &-header {
    @include flex();
    margin-bottom: 120px;

    &__title {
      @include flex(flex-start, flex-start);
      flex-direction: column;

      &-secondary {
        @include flex(flex-start, center);
        gap: 40px;

        img {
          width: 240px;
        }
      }
    }

    &__text {
      max-width: 55%;
    }
  }

  &-title {
    &__main {
      @include text(44px, 54px, 700, white);
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__sub {
      @include text(44px, 54px, 300, white);
      text-transform: uppercase;
    }
  }
}

.slider {
  &-btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    border-radius: 100%;
    background: rgba($midnight-prune, 0.4);

    &__inner {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: $slider-btn-gradient;
      cursor: pointer;

      @include flex(center, center);

      i {
        font-size: 18px;
        color: $royal-indigo;
      }
    }

    &__left {
      left: -32px;
    }

    &__right {
      right: -32px;
    }
    
    &__hide {
      display: none !important;
    }
  }
}

@media screen and (max-width: 1600px) {
  section {
    padding-top: 100px;
  }
  
  .paragraph {
    font-size: 16px;
    line-height: 24px;
  }

  .section {
    &-header {
      margin-bottom: 100px;
  
      &__title {
        &-secondary {
          gap: 30px;
  
          img {
            width: 190px;
          }
        }
      }
    }
  
    &-title {
      &__main {
        font-size: 36px;
        line-height: 44px;
      }
  
      &__sub {
        font-size: 36px;
        line-height: 44px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .slider {
    &-btn {
      display: block;
    }
  }

  .section {
    &-header {
      &__title {
        &-secondary {  
          img {
            width: 140px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  section {
    padding-top: 80px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 20px;
  }

  .section {
    &-header {
      margin-bottom: 80px;
  
      &__title {
        &-secondary {
          gap: 24px;
  
          img {
            width: 100px;
          }
        }
      }
    }
  
    &-title {
      &__main {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 0;
      }
  
      &__sub {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  section {
    padding-top: 60px;
  }

  .section {
    &-header {
      margin-bottom: 60px;
      &__title {
        &-secondary {  
          img {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section{
    &-header {
      margin-bottom: 36px;
      &__title {
        width: 100%;

        &-secondary {
          width: 100%;
        }
      }
      &__text {
        display: none;
      }
    }

    &-title {
      &__main,
      &__sub {
        width: 100%;
        text-align: center;
      }

      &__main {
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .slider {
    &-btn {
      padding: 8px;

      &__inner {
        width: 32px;
        height: 32px;

        i {
          font-size: 15px;
        }
      }
  
      &__left {
        left: -20px;
      }
  
      &__right {
        right: -20px;
      }
    }
  }
}